In [10]:
%matplotlib inline
import pandas as pd
from datetime import datetime
data=pd.read_csv(r'H:\对比Excel,轻松学习Python数据分析数据集\order-14.1.csv',parse_dates=['成交时间'],encoding='gbk')
#其中parse_dates参数表示将数据解析为时间格式
data.head()#预览数据
data.info()#查看源数据类型

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3744 entries, 0 to 3743
Data columns (total 7 columns):
商品ID    3478 non-null float64
类别ID    3478 non-null float64
门店编号    3478 non-null object
单价      3478 non-null float64
销量      3478 non-null float64
成交时间    3478 non-null datetime64[ns]
订单ID    3478 non-null object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 204.8+ KB

In [11]:
This_month=data[(data['成交时间']>=datetime(2018,2,1))&(data['成交时间']<=datetime(2018,2,28))]
sales_1=(This_month['销量']*This_month['单价']).sum()#销售额计算
traffic_1=This_month['订单ID'].drop_duplicates().count()#客流量计算
s_t_1=sales_1/traffic_1#客单价计算
print('本月销售额为:{:.2f},客流量为:{},客单价为:{:.2f}'.format(sales_1,traffic_1,s_t_1))

本月销售额为:10412.78,客流量为:343,客单价为:30.36

In [12]:
last_month=data[(data['成交时间']>=datetime(2018,1,1))&(data['成交时间']<=datetime(2018,1,31))]
sales_2=(last_month['销量']*last_month['单价']).sum()#销售额计算
traffic_2=last_month['订单ID'].drop_duplicates().count()#客流量计算
s_t_2=sales_2/traffic_2#客单价计算
print('本月销售额为:{:.2f},客流量为:{},客单价为:{:.2f}'.format(sales_2,traffic_2,s_t_2))

本月销售额为:9940.97,客流量为:315,客单价为:31.56

In [13]:
same_month=data[(data['成交时间']>=datetime(2017,2,1))&(data['成交时间']<=datetime(2017,2,28))]
sales_3=(last_month['销量']*last_month['单价']).sum()#销售额计算
traffic_3=last_month['订单ID'].drop_duplicates().count()
s_t_3=sales_3/traffic_3#客户单价计算
print('本月销售额:{:.2f},客流量为:{},客单价为:{:.2f}'.format(sales_3,traffic_3,s_t_3))

本月销售额:9940.97,客流量为:315,客单价为:31.56

In [21]:
def get_month_data(data):
    sale=(data['单价']*data['销量']).sum()
    traffic=data['订单ID'].drop_duplicates().count()
    s_t=sale/traffic
    return (sale,traffic,s_t)
#计算本月相关指标
sale_1,traffic_1,s_t_1=get_month_data(This_month)
#计算上月相关指标
sale_2,traffic_2,s_t_2=get_month_data(last_month)
#计算去年同周期相关指标
sale_3,traffic_3,s_t_3=get_month_data(same_month)

In [23]:
report=pd.DataFrame([[sale_1,sale_2,sale_3],[traffic_1,traffic_2,traffic_3],[s_t_1,s_t_2,s_t_3]],
                   columns=['本月累计','上月同期','去年同期'],
                   index=['销售额','客流量','客单价'])
report

             本月累计         上月同期         去年同期
销售额  10412.780070  9940.972910  8596.313470
客流量    343.000000   315.000000   262.000000
客单价     30.357959    31.558644    32.810357

In [24]:
#添加同比和环比字段
report['环比']=report['本月累计']/report['上月同期']-1
report['同比']=report['本月累计']/report['去年同期']-1
report

             本月累计         上月同期         去年同期        环比        同比
销售额  10412.780070  9940.972910  8596.313470  0.047461  0.211308
客流量    343.000000   315.000000   262.000000  0.088889  0.309160
客单价     30.357959    31.558644    32.810357 -0.038046 -0.074745

In [25]:
report.to_csv(r'H:\对比Excel,轻松学习Python数据分析数据集\典型数据分析案例\order.csv',encoding='utf-8-sig')

In [32]:
df=pd.read_csv(r'H:\对比Excel,轻松学习Python数据分析数据集\典型数据分析案例\order.csv',encoding='utf-8-sig')
df

  Unnamed: 0          本月累计         上月同期         去年同期        环比        同比
0        销售额  10412.780070  9940.972910  8596.313470  0.047461  0.211308
1        客流量    343.000000   315.000000   262.000000  0.088889  0.309160
2        客单价     30.357959    31.558644    32.810357 -0.038046 -0.074745